[submodule "dbcollection/utils/db/caltech/caltech_pedestrian_extractor"]
	path = dbcollection/utils/db/caltech/caltech_pedestrian_extractor
	url = https://github.com/farrajota/caltech_pedestrian_extractor
