sudo: false
language: python
dist: trusty
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6

matrix:
    fast_finish: true

before_install:
    - echo "before_install"
    - export PATH="$HOME/miniconda3/bin:$PATH"
    - df -h
    - pwd
    - uname -a
    - git --version
    - git tag

install:
    - echo "install start"
    - chmod +x ci/travis_install.sh
    - ci/travis_install.sh
    - echo "install done"

# command to run tests
script:
    - source activate dbcollection
    - pytest --cov=dbcollection dbcollection/tests/

after_success:
    - echo "Upload code coverage to codecov"
    - ls -lha
    - bash <(curl -s https://codecov.io/bash)

matrix:
    fast_finish: true
    include:
        env: LINT_CHECK
        python: "3.6"
        addons: true
        install: pip install flake8
        script: flake8
    include:
        env: URL_STATUS_CHECK
        python: "3.6"
        addons: true
        script: pytest dbcollection/tests/datasets/__test_check_urls.py