# include the license file
include LICENSE.txt

# include the requirements file
include requirements.txt

# include mnist data
include dbcollection/datasets/mnist/data/t10k-images.idx3-ubyte
include dbcollection/datasets/mnist/data/t10k-labels.idx1-ubyte
include dbcollection/datasets/mnist/data/train-images.idx3-ubyte
include dbcollection/datasets/mnist/data/train-labels.idx1-ubyte

# include the docs

#include README.rst
#recursive-exclude * __pycache__
#recursive-exclude * *.py[co]
