# include the license file
include LICENSE.txt

# include the requirements file
include requirements.txt

# include mnist data
recursive-include dbcollection/datasets/mnist/data/ *-ubyte

#include README.rst
#recursive-exclude * __pycache__
#recursive-exclude * *.py[co]
